<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gestor_empresas</property>    
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">RePuBlIc0FG4MeS*</property>

    <property name="hibernate.show_sql">true</property>

    <mapping class="models.Alumno"/>
    <mapping class="models.Profesor"/>
    <mapping class="models.Empresa"/>
    <mapping class="models.Actividad"/>
    
</session-factory>
</hibernate-configuration>